@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$dark: #0A162B;
$color-info: #F0F6FF;
$color-orange: #DB5C14;
$color-blue: #3478EA;
$color-yellow: #FFC801;

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Montserrat', sans-serif;

$btn-border-radius: 42px;
$btn-font-size: 12px;

$nav-link-color: $dark