<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edjol</title>
</head>
<body>
<a class="header-info">
    Special offer today! -25%
    <span>
        Details
    </span>
</a>
<div class="container">
    <header id="header" class="row"></header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Living room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Kitchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Bedroom</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Kid's room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dining room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Bathrooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hallway</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Kitchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Garden furniture</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Storage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Laundry room</a>
        </li>
    </ul>
</div>
<div class="registration">
    <div class="row container justify-content-md-center">
        <div class="col-4">
            <strong>Sign Up</strong>
            <span>
                Already have an account?
                <button class="btn btn-link">Sign In</button>
            </span>
            <ul>
                <li>
                    <div>
                        <img src="../../assets/images/flat-color-icons_google.png">
                    </div>
                </li>
                <li>
                    <div>
                        <i class="bi bi-apple" style="color: black"></i>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="bi bi-facebook" style="color: #157DC3"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-1">
            <div></div>
        </div>
        <div class="col-5">
            <div>
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" value="Jane">
            </div>
            <div>
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" value="Jane">
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control is-invalid" id="email" placeholder="Email">
                <div class="invalid-feedback">
                    Please input email.
                </div>
            </div>
            <label for="date" class="form-label">Date of birth</label>
            <div class="input-group right">
                <input type="text" class="form-control" id="date" placeholder="Select date">
                <i class="bi bi-calendar"></i>
            </div>
            <label for="password" class="form-label">Password</label>
            <div class="input-group right">
                <input type="text" class="form-control" id="password" placeholder="Enter your password">
                <i class="bi bi-eye-slash-fill"></i>
            </div>
            <div style="margin: 20px 0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        I agree with
                        <a class="blue">Terms</a>
                        and
                        <a class="blue">Privacy</a>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Receive notifications about new arrival, sales, special offers
                    </label>
                </div>
            </div>
            <button class="btn btn-primary">Sign Up</button>
        </div>
    </div>
</div>
<div class="container">
    <footer id="footer" class="row"></footer>
</div>
</body>
</html>