<div class="col-1">
    <a>
        <img src="../../assets/images/edjol.png" class="logo">
    </a>
</div>
<div class="col-5">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Rooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Special offers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</div>
<div class="col">
    <div class="input-group">
        <i class="bi-search input-group-text" role="img"></i>
        <input type="text"
               class="form-control"
               placeholder="What are you looking for?"
               aria-label="Example text with button addon"
               aria-describedby="button-addon1">
    </div>
</div>
<div class="col-1 icons">
    <i class="bi-person"></i>
    <i class="bi-heart"></i>
    <i class="bi-bag"></i>
</div>