<hr class="hr">
<div class="col-2">
    <img src="../../assets/images/edjol.png" class="logo">
    <p>
        © edjol. 2021
    </p>
</div>
<div class="col">
    <ul class="row row-cols-3">
        <li class="col">Products</li>
        <li class="col">Rooms</li>
        <li class="col">Special offers</li>
        <li class="col">Contact</li>
        <li class="col">FAQ</li>
        <li class="col">Returns and claims</li>
        <li class="col">Rating & reviews</li>
        <li class="col">How to shop</li>
        <li class="col">Gift card</li>
        <li class="col">Delivery</li>
        <li class="col">Cookies</li>
        <li class="col">Living room</li>
        <li class="col">Kitchen</li>
        <li class="col">Bedroom</li>
        <li class="col">Kid's room</li>
        <li class="col">Dining room</li>
        <li class="col">Bathrooms</li>
        <li class="col">Hallway</li>
        <li class="col">Kitchen</li>
        <li class="col">Garden furniture</li>
        <li class="col">Storage</li>
        <li class="col">Laundry room</li>
        <li class="col">Terms and conditions</li>
        <li class="col">Privacy policy</li>
    </ul>
</div>
<div class="col-3">
    <div class="row">
        <div class="col">
            <i class="bi-person"></i>
            <i class="bi-heart"></i>
            <i class="bi-bag"></i>
        </div>
        <button type="submit" class="btn btn-outline-light col-3">
            English
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Subscribe</h5>
            <p class="card-text">
                Get the best new products in your inbox, every day.
                Get the latest content first.
            </p>
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </div>
</div>