<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edjol</title>
</head>
<body>
<a class="header-info">
    Special offer today! -25%
    <span>
        Details
    </span>
</a>
<div class="container">
    <header id="header" class="row"></header>
    <div id="navigation"></div>
</div>
<div class="oval-announcement">
    <img src="../../assets/images/spacejoy-IH7wPsjwomc-unsplash%201%20(1).png">
    <div>
        <span class="center">
            <span class="blue">15% Off</span>
            Everything +
            <br>
            <span class="orange">Extra $10 Off</span>
            For Plus Status
        </span>
        <button class="btn btn-light">Shop now</button>
    </div>
    <img src="../../assets/images/spacejoy-IH7wPsjwomc-unsplash%202.png">
</div>
<div class="container">
    <div class="row product-details">
        <div class="col">
            <img src="../../assets/images/Rectangle%2083.png">
            <img src="../../assets/images/Rectangle%2082.png">
            <img src="../../assets/images/Rectangle%2097.png">
            <h3 style="margin-top: 20px">Description</h3>
            <p>
                Your kids should have a room that’s just as fun and creative as they are.
                Find the right bedding to match your kid's personal style.
                A popular cushion cover that’s easy to mix and match with other solid-coloured or patterned cushions.
                Available in many colours – choose your favourite. Made of cotton from more sustainable sources.
            </p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Dimensions
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Dimensions
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Reviews (140)
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col reviews">
                                    <strong>Sabine</strong>
                                    <div>27.06.2021</div>
                                    <div class="rating">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        Your kids should have a room that’s just as fun and creative as they are.
                                        Find the right bedding to match your kid's personal style.
                                        A popular cushion cover that’s easy to mix and match with other solid-coloured or patterned cushions.
                                        Available in many colours – choose your favourite.
                                        Made of cotton from more sustainable sources.
                                    </p>
                                    <button type="button" class="btn btn-link">read more...</button>
                                </div>
                                <div class="col reviews">
                                    <strong>anne L.</strong>
                                    <div>27.06.2021</div>
                                    <div class="rating">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        Your kids should have a room that’s just as fun and creative as they are.
                                        Find the right bedding to match your kid's personal style.
                                        A popular cushion cover that’s easy to mix and match with other solid-coloured or patterned cushions.
                                    </p>
                                    <button type="button" class="btn btn-link">read more...</button>
                                </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col">
            <div>
                203.958.21
            </div>
            <h3>
                Checked Duvet Cover Set
                Greenland
            </h3>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <span class="underline">140 reviews</span>
            </div>
            <button class="btn btn-outline-danger">Black friday - 10%</button>
            <h1>
                $24
                <span class="orange"> $18</span>
            </h1>
            <p>
                Your kids should have a room that’s just as fun and creative as they are.
                Find the right bedding to match your kid's personal style.
            </p>
            <strong>Color</strong>
            <ul class="colors">
                <li>
                    <div class="color-item white"></div>
                </li>
                <li>
                    <div class="color-item black"></div>
                </li>
            </ul>
            <hr>
            <div class="count-and-like">
                <div class="count">
                    <i class="bi bi-dash"></i>
                    <input type="text" class="form-control" value="1">
                    <i class="bi bi-plus"></i>
                </div>
                <div>
                    <i class="bi bi-suit-heart"></i>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
            </div>
            <div class="card">
                <ul class="card-body">
                    <li>
                        <i class="bi bi-bicycle"></i>
                        Free Delivery
                    </li>
                    <li>
                        <i class="bi bi-box-seam"></i>
                        In Stock
                    </li>
                    <li>
                        <i class="bi bi-calendar"></i>
                        365 days to return
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Other from Bedroom</h2>
    <div id="products5" class="row"></div>
    <div class="advertising">
        <div>
            <span>
                -30%
            </span>
            Let’s Relax!
            <br>
            Everything For You Living Room
        </div>
        <img src="../../assets/images/image%2023.png" class="col-12">
    </div>
    <h2>Customer Also Viewed</h2>
    <div id="products1" class="row"></div>
    <h2>Last Viewed</h2>
    <div id="products4" class="row"></div>
    <div class="subscribe row">
        <img src="../../assets/images/image%2035.png" class="col">
        <div class="col">
            <i class="bi bi-envelope-open"></i>
            <h2>
                Subscribe To Our Newsletter!
            </h2>
            <p>
                Get the best new products in your inbox, every day. Get the latest content first.
            </p>
            <span class="email">
                <input type="email" class="form-control" placeholder="Your E-Mail">
                <button type="submit" class="btn btn-dark">Submit</button>
            </span>
        </div>
    </div>
    <footer id="footer" class="row"></footer>
</div>
</body>
</html>